h4.title.text-dark {
    margin-top: 1.5rem;
}
.card-list-recommend {
    /*margin-top: 2rem;*/
    width: 100%;
    height: 100%;
    /*height: 30rem;*/
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.item-detail {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    height: 12rem;
}